<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>them bai viet</title>
</head>
<body>
    <form action="" method="post">
        <label for="">Title</label>
        <input type="text" name="title" id="title">
        <label for="">Content</label>
        <input type="text" name="content" id="content">
        <label for="">Author</label>
        <input type="text" name="author" id="author">
        <button type="submit">Submit</button>
    </form>
</body>
</html>