<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Email xác nhận đã hết thời hạn.</p>
    <p>Vui lòng nhập lại Email để xác thực tài khoản</p>
    <form action="/resendEmail" method="post">
        <input type="email" name="email" id="email">
        <button type="submit">Send</button>
    </form>
    
</body>
</html>